<%# Flash messages partial %>
<div id="flash-messages" class="fixed top-4 right-4 z-50">
  <% flash.each do |type, message| %>
    <div class="<%= type == 'notice' ? 'bg-green-50 text-green-800' : 'bg-red-50 text-red-800' %> p-4 rounded-lg shadow-lg mb-4 flex items-center justify-between"
         data-controller="flash"
         data-flash-target="message">
      <div class="flex items-center">
        <% if type == 'notice' %>
          <i class="fas fa-check-circle mr-2"></i>
        <% else %>
          <i class="fas fa-exclamation-circle mr-2"></i>
        <% end %>
        <%= message %>
      </div>
      <button class="ml-4 text-gray-400 hover:text-gray-600"
              data-action="flash#dismiss">
        <i class="fas fa-times"></i>
      </button>
    </div>
  <% end %>
</div>
 