<div class="flash flex items-center p-2 text-sm rounded-md <%= type == 'error' ? 'text-red-800 bg-red-50' : 'text-green-800 bg-green-50' %>" 
     role="alert" 
     data-controller="flash">
  <% if type == 'error' %>
    <i class="fas fa-circle-exclamation flex-shrink-0 inline w-4 h-4 mr-2"></i>
  <% else %>
    <i class="fas fa-circle-check flex-shrink-0 inline w-4 h-4 mr-2"></i>
  <% end %>
  <div class="text-xs">
    <%= message %>
  </div>
</div>
