<div class="footer-links">
  <%= link_to "About Us", about_path, class: "text-gray-300 hover:text-white" %>
  <%= link_to "Contact Us", new_contact_inquiry_path, class: "text-gray-300 hover:text-white" %>
  <%= link_to "Privacy Policy", privacy_policy_path, class: "text-gray-300 hover:text-white" %>
  <%= link_to "Terms of Service", terms_of_service_path, class: "text-gray-300 hover:text-white" %>
</div>
 