<li class="py-12 text-center">
  <div class="text-gray-500">
    <i class="fas fa-shopping-cart text-4xl mb-4"></i>
    <p class="text-lg">Your cart is empty</p>
    <%= link_to 'Continue Shopping', root_path, class: 'mt-4 inline-block text-blue-600 hover:text-blue-500' %>
  </div>
</li>
