<%# This partial displays a heart icon that toggles between filled and outlined states %>
<div class="wishlist-icon-<%= product.id %>">
  <% if user_signed_in? %>
    <%= button_to toggle_wishlist_path(product_id: product.id),
                  class: "text-gray-900 hover:text-red-500 transition-colors",
                  form: { data: { turbo: true } },
                  data: { 
                    turbo_stream: true,
                    controller: "wishlist",
                    action: "wishlist#toggle"
                  } do %>
      <% if current_user.wishlist&.includes_product?(product) %>
        <i class="fas fa-heart text-red-500"></i>
      <% else %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path,
                class: "text-gray-900 hover:text-red-500 transition-colors",
                data: { turbo_frame: "_top" } do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
</div>